<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwRH1fjW1xYZnBQFJKQRd_eiqQLl4dnzg</string>
	<key>GCM_SENDER_ID</key>
	<string>575446138987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codebuket.South-Lambeth-Food-and-Wine-Store-Inventory-sys</string>
	<key>PROJECT_ID</key>
	<string>inventory-app-352dc</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-app-352dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575446138987:ios:bb90b45eb6947d6b34f12e</string>
</dict>
</plist>